<a href="https://colab.research.google.com/github/Alfonso-DelaCruz/CpE0332.1-1Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
x = 3
y = 2
if x > y:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [ ]:
print("Hello World")

Hello World

Python Variable

In [ ]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
z
s
t

10

Python Casting

In [ ]:
b = "Sally" #This is a string
b = float(4)
b

4.0

Python Type Function

In [ ]:
print(type(b))

<class 'float'>

Double Quote and Single Quote

In [ ]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [ ]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [ ]:
h, i,j= "one",'two',"three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [ ]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [ ]:
n = "enjoying"
p = "Python programming is"
print(p+n)

Python programming isenjoying

Arithmetic Operations

In [ ]:
print(x+y)  #Addition
print(x-y)  #Subtraction
print(x*y)  #Multiplication
print(round(5/3),2)  #Division
print(x//y) #Floor Division
print(x%y)  #Modulus
print(x**y) #Exponentiation

5
1
6
2 2
1
1
9

Assignment Operator

In [ ]:
x+=3  #same as x = x+3
print(x)

6

Comparison Operator

In [ ]:
False
True
True
False

False

Logical Operators

In [ ]:
print(x==y and x!=y) #False and True
print(x==y or x!=y) # False or True
print(not(x==y or x!=y))#negate(False or True)

False
True
False

Identity Operators

In [ ]:
x is y  #x=3, y=2
x is not y

True

Bitwise Operators

In [ ]:
#10 +1 = 11     ; 1010 + 0001 = 1011
print(10 | 1)

print(x>>1)   #x=3 , 011

11
3

Application 1

In [ ]:
#Create a Python program that displays your Fullname, Age, and Course and Section

In [30]:
def display_info():
    fullname = "Alfonso Rafael C. Dela Cruz"
    age = 23
    course_and_section = "4th Year, Bachelors in Computer Engineering, Section 1"

    print("Fullname: ", fullname)
    print("Age: ", age)
    print("Course and Section: ", course_and_section)

# Call the function to display the information
display_info()

Fullname:  Alfonso Rafael C. Dela Cruz
Age:  23
Course and Section:  4th Year, Bachelors in Computer Engineering, Section 1